@using Case.Entities.Entity
@model IEnumerable<Form>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Popup Örneği</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="~/css/popup.css" rel="stylesheet" />
</head>
<body>

    <h2>Form Listesi</h2>

    <br />

    <table class="table table-bordered">

        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRİPTİON</th>
            <th>CreatedAt</th>
            <th>CreatedBy</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.Name</td>
                <td>@x.Description</td>
                <td>@x.CreatedAt</td>
                <td>@x.CreatedBy</td>
                <td><a href="/Forms/@x.ID" class="btn btn-warning">Formu Doldur</a></td>
                <td><a href="@Url.Action("AddFields", "Home", new { id = x.ID })" class="btn btn-success">Add Fields</a></td>

            </tr>
        }
    </table>


    <button class="btn btn-primary" id="popup-button">Form Ekle</button>
    <div id="popup">
        <div id="popup-content">
            <h2>Yeni Form Ekle</h2>
            <input type="text" id="name" placeholder="Name">
            <input type="text" id="description" placeholder="Description">
            <input type="date" id="created-at" placeholder="Created At">
            <input type="text" id="created-by" placeholder="Created By">
            <button id="submitForm">Kaydet</button>
            <button id="cancel-button">İptal</button>
        </div>
    </div>

    <script src="~/js/popup.js"></script>
</body>
</html>
